.CancelarReservas-header {
    background-color: #003F70;
    height: 3rem;
}

.CancelarReservas-body {
    background-color: #D9D9D9;
    padding: 1rem;
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: row;
    align-items: flex-start;  /* Alinea los elementos desde el inicio (arriba) */
    align-content: flex-start;
}
.CacelarReservas-header-button-cargar,
.CacelarReservas-header-button-close {
    color: #ffffff;
    background-color: #D51809;
    border-radius: 0%;
    border-color: #D51809;
    width: 58px;
    height: 100%;
    cursor: pointer;
}

.CancelarReserva-button-cancel {
  color: #003F70;
  background-color: #ffffff;
  border-color: #003F70;
}

.CancelarReserva-button-cancel:hover,
.CancelarReserva-button-cancel:active,
.CancelarReserva-button-cancel:focus,
.CancelarReserva-button-cancel.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #003F70;
  background: #ffffff;
  border-color: #003F70;
}

  .CancelarReserva-button-register {
    color: #ffffff;
    background-color: #003F70;
    border-color: #003F70;
  }
  
  .CancelarReserva-button-register:hover,
  .CancelarReserva-button-register:active,
  .CancelarReserva-button-register:focus,
  .CancelarReserva-button-register:disabled,
  .CancelarReserva-button-register.active {
    /* let's darken #004E64 a bit for hover effect */
    color: #ffffff;
    background: #003F70;
    border-color: #003F70;
  }

