.rbc-header{
  color: white;
  font-size: 14px !important;
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  background: rgb(11 63 111);

}

.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: rgb(11 63 111);
}
.rbc-button-link {
cursor: default !important;
}


.reserva-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reserva-row h6 {
  margin: 0;
  margin-right: 10px;
}

.reserva-row p {
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  padding-left: 1rem;
}

.Calendario-header-button-close {
  color: #ffffff;
  background-color: #D51809;
  border-radius: 0%;
  border-color: #D51809;
  width: 58px;
  height: 100%;
}

.Calendario-header-button-close:hover,
.Calendario-header-button-close:active,
.Calendario-header-button-close:focus,
.Calendario-header-button-close:disabled,
.Calendario-header-button-close.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #ffffff;
  background: #D51809;
  border-color: #D51809;
}