.rbc-header{
    color: white;
    font-size: 14px !important;
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    background: cornflowerblue;
  
  }
  
  