.ListaDeDocentes-header {
  background-color: #003F70;
  height: 3rem;
}

.ListaDeDocentes-body {
  background-color: #D9D9D9;
  padding: 1rem;
}

.table-container {
  max-height: 400px;
  /* Puedes ajustar esta altura según tus necesidades */
  overflow-y: auto;
}

.page-item.active.color-blue,
.page-item.color-blue {
  --bs-pagination-color: #003F70;
  --bs-pagination-hover-color: #003F70;
  --bs-pagination-focus-color: #003F70;
  --bs-pagination-active-bg: #003F70;
  --bs-pagination-active-border-color: #003F70
}

.ListaDeDocentes-register {
  color: #ffffff;
  background-color: #003F70;
  border-color: #003F70;
}

.ListaDeDocentes-register:hover,
.ListaDeDocentes-register:active,
.ListaDeDocentes-register:focus,
.ListaDeDocentes-register:disabled,
.ListaDeDocentes-register.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #ffffff;
  background: #003F70;
  border-color: #003F70;
}

.ListaDeDocentes-header-button-cargar,
.ListaDeDocentes-header-button-close {
  color: #ffffff;
  background-color: #D51809;
  border-radius: 0%;
  border-color: #D51809;
  width: 58px;
  height: 100%;
}

.ListaDeDocentes-header-button-cargar:hover,
.ListaDeDocentes-header-button-cargar:active,
.ListaDeDocentes-header-button-cargar:focus,
.ListaDeDocentes-header-button-cargar:disabled,
.ListaDeDocentes-header-button-cargar.active,
.ListaDeDocentes-header-button-close:hover,
.ListaDeDocentes-header-button-close:active,
.ListaDeDocentes-header-button-close:focus,
.ListaDeDocentes-header-button-close:disabled,
.ListaDeDocentes-header-button-close.active {
  color: #ffffff;
  background: #D51809;
  border-color: #D51809;
  --bs-btn-active-bg: #D51809;
  --bs-btn-active-border-color: #D51809;
}

.ListaDeDocentes-button-cancel {
  color: #003F70;
  background-color: #ffffff;
  border-color: #003F70;
}

.ListaDeDocentes-button-cancel:hover,
.ListaDeDocentes-button-cancel:active,
.ListaDeDocentes-button-cancel:focus,
.ListaDeDocentes-button-cancel.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #003F70;
  background: #ffffff;
  border-color: #003F70;
  --bs-btn-active-color: #003F70;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #003F70;
}