.ListaDeNotificaciones-header {
    background-color: #003F70;
    height: 3rem;
}

.ListaDeNotificaciones-header-button-close {
    color: #ffffff;
    background-color: #D51809;
    border-radius: 0%;
    border-color: #D51809;
    width: 58px;
    height: 100%;
}

.ListaDeNotificaciones-header-button-close:hover,
.ListaDeNotificaciones-header-button-close:active,
.ListaDeNotificaciones-header-button-close:focus,
.ListaDeNotificaciones-header-button-close:disabled,
.ListaDeNotificaciones-header-button-close.active {
    color: #ffffff;
    background: #D51809;
    border-color: #D51809;
    --bs-btn-active-bg: #D51809;
    --bs-btn-active-border-color: #D51809;
    cursor: pointer;
}

.ListaDeNotificaciones-notification-body {
    background-color: #D9D9D9;
    padding: 1rem;
}

.ListaDeNotificaciones-notification-read {
    height: 3rem;
    background: rgba(0, 63, 112, 0.3);
    color: gray;
    padding-left: 1rem;
    cursor: pointer;
}

.ListaDeNotificaciones-notification-unread {
    height: 3rem;
    background: rgb(0, 63, 112);
    color: white;
    padding-left: 1rem;
    cursor: pointer;
}

.ListaDeNotificaciones-container {
    padding: 0
}

.ListaDeNotificaciones-row-button-mark-all-as-read {
    height: 3rem;
    padding-left: 1rem;
}

.ListaDeNotificaciones-sin-notigicaciones {
    height: 3rem;
    padding-left: 1rem;
}

.ListaDeNotificaciones-body {
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 27rem;
}

.ListaDeNotificaciones-notification-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ListaDeNotificationes-col-header-title {
    height: 100%
}

.ListaDeNotificationes-header-close {
    padding: 0
}

.ListaDeNotificationes-header-title {
    font-weight: bold
}