.ListaDeNotificaciones-header-button-cargar {
    color: #ffffff;
    background-color: #D51809;
    border-radius: 0%;
    border-color: #D51809;
    width: 58px;
    height: 100%;
    cursor: pointer;
}
.ListaDeNotificaciones-header{
    background-color: #003F70;
    height: 3rem;
}
.ListaDeNotificaciones-header-button-cargar:hover,
.ListaDeNotificaciones-header-button-cargar:active,
.ListaDeNotificaciones-header-button-cargar:focus,
.ListaDeNotificaciones-header-button-cargar:disabled,
.ListaDeNotificaciones-header-button-cargar.active {
    color: #ffffff;
    background: #D51809;
    border-color: #D51809;
    --bs-btn-active-bg: #D51809;
    --bs-btn-active-border-color: #D51809;
}

.ListaDeNotificaciones-sidebar-body {
    background-color: #D9D9D9;
    padding: 1rem;
    min-height: calc(88vh - 4.5rem);
    display: flex;
    width: 96%;
    height: 88vh;
    align-items: flex-start;
}

.ListaDeNotificaciones-sidebar-header {
    background-color: #003F70;
    height: 3rem;
    width: 96%;
}

.ListaDeNotificaciones-body {
    background-color: #D9D9D9;
    padding: 1rem;
    min-height: calc(88vh - 4.5rem);
    display: flex;
    height: 78vh;
    align-items: flex-start;
}

.ListaDeNotificaciones-header {
    background-color: #003F70;
    height: 3rem;
}