.Home-body {
    padding: 1rem;
    height: calc(100% - 13.5rem);
    overflow-y: auto;
}

.App-header {
    /* position: relative; */
    /* height: 118px; */
    background-color: #002A4C;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);

}

.App-footer {
    background-color: #002A4C;
    color: white;
    padding-bottom: 5px;
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    /* position: relative; */
    /* left: 0; */
    /* bottom: 0; */
    /* height: 6%; */
    height: -webkit-fill-available;
    width: 100%;
}

.ico-header {
    margin-left: calc(100% - 21rem);
    display: flex;
    align-items: center;
}

.App-logo {
    padding: 15px;
    width: 5rem;
    height: 5rem;
}

.Home-busqueda {
    margin-left: calc(100% - 25.5rem)
}

.titulo-header {
    color: white;
}

.notification-icon {
    position: relative;
    display: inline-block;
}

.icon-base {
    font-size: 24px;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #FF0000;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}


.Home-button-marcar-todas {
    color: #ffffff;
    background-color: #003F70;
    border-color: #003F70;
}

.Home-button-marcar-todas:hover,
.Home-button-marcar-todas:active,
.Home-button-marcar-todas:focus,
.Home-button-marcar-todas:disabled,
.Home-button-marcar-todas.active {
    /* let's darken #004E64 a bit for hover effect */
    color: #ffffff;
    background: #003F70;
    border-color: #003F70;
    --bs-btn-active-bg: #003F70;
    --bs-btn-active-border-color: #003F70;
}

.dropdown-toggle.home-dropdown::after {
    content: none;
}