.buscar-container {
  /* width: 600px; */
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.ModificarEstadoDelAmbientePorPeriodo-body {
  background-color: #D9D9D9;
  padding: 1rem;
  margin: 0;
  width: 123vh;
  height: 63vh;
}

.ModificarEstadoDelAmbientePorPeriodo-header-button-close {
  color: #ffffff;
  background-color: #D51809;
  border-radius: 0%;
  border-color: #D51809;
}

.ModificarEstadoDelAmbientePorPeriodo-header {
  margin: 0;
  width: 123vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003F70;
}

.ModicarPorPeriodo-consultar-button {
  color: #ffffff;
  background-color: #003F70;
  border-color: #003F70;
  width: 8rem;
  font-weight: bold;
}

.ModicarPorPeriodo-consultar-button:hover,
.ModicarPorPeriodo-consultar-button:active,
.ModicarPorPeriodo-consultar-button:focus,
.ModicarPorPeriodo-consultar-buttono:disabled,
.ModicarPorPeriodo-consultar-button.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #ffffff;
  background: #003F70;
  border-color: #003F70;
  --bs-btn-active-bg: #003F70;
  --bs-btn-active-border-color: #003F70;
}

.justify-content-md-center {
  margin-right: 10px !important;
  /* Ajusta según necesites */
  padding-left: 10px !important;
  /* Ajusta según necesites */
  padding-right: 10px !important;
  /* Ajusta según necesites */
}

.periodos-container {
  /* width: 130px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}

.periodos-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  /* Divide los elementos en tres columnas */
  gap: 130px;
  /* Espacio entre los elementos */
}

.periodos-container div label {
  width: 150px;
  /* Ancho fijo para cada periodo */
  height: 50px;
  text-align: center;
  border: 1.5px solid black;
  /* Borde de 1px sólido negro */
  margin: 5px;
  /* Espacio entre los elementos */
  padding: 2px;
  /* Espacio interno del borde */
  border-radius: 10px;
}

.periodos>div {
  display: flex;
  align-items: center;
  /* Centra verticalmente los elementos */
}

.circle-container {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.text {
  font-size: 15px;
  width: 160px;
}

.periodos-reservado {
  background-color: #d81a0b;
  color: #ffffff;
}

.periodos-solicitado {
  background-color: #0b3f6f;
  color: #ffffff;

}

.periodos-inhabilitados {
  background-color: #a4a6a6;

}

.periodos-habilitados {
  background-color: #ffffff;
}

.modi {
  margin-top: -30px;
  margin-left: 700px;
}

.ModificarPorPeriodo-button-periodo {
  margin-top: -30px;
  margin-left: 630px;
  color: #ffffff;
  background-color: #003F70;
  border-color: #003F70;
  width: 10rem;
  font-weight: bold;

}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.ModificarPorPeriodo-button-periodo:hover,
.ModificarPorPeriodo-button-periodo:active,
.ModificarPorPeriodo-button-periodo:focus,
.ModificarPorPeriodo-button-periodo:disabled,
.ModificarPorPeriodo-button-periodo.active {
  /* let's darken #004E64 a bit for hover effect */
  color: #ffffff;
  background: #003F70;
  border-color: #003F70;
  --bs-btn-active-bg: #003F70;
  --bs-btn-active-border-color: #003F70;
}