.buscar-container {
  width: 600px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.consultar-button {
  margin-top: -40px;
}

.periodos-container {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.periodos-grid {
  display: grid;
  grid-template-columns: repeat(  3,  1fr); /* Divide los elementos en tres columnas */
  gap: 20px; /* Espacio entre los elementos */
}
.periodos-container div label {
  width: 100px; /* Ancho fijo para cada periodo */
  text-align: center;
  border: 1px solid black; /* Borde de 1px sólido negro */
  margin: 5px; /* Espacio entre los elementos */
  padding: 2px; /* Espacio interno del borde */
}

.periodos > div {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}
.circle-container {
  display: flex;
  align-items: center;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.text {
  font-size: 15px;
  width: 200px;
}
.periodos-reservado{
  background-color: red;
}
.periodos-inhabilitados {
  background-color: #a4a6a6;
}
.periodos-habilitados {
  background-color: #ffffff;
}
.modi {
  margin-top: -40px;
  margin-left: 307px;
}
.ModificarPorPeriodo-button-periodo {
  color: #ffffff;
  background-color: #003F70;
  border-color: #003F70;
  width: 12rem;
  font-weight: bold;
}

.ModificarPorPeriodo-button-periodo:hover,
.ModificarPorPeriodo-button-periodo:active,
.ModificarPorPeriodo-button-periodo:focus,
.ModificarPorPeriodo-button-periodo:disabled,
.ModificarPorPeriodo-button-periodo.active {
/* let's darken #004E64 a bit for hover effect */
color: #ffffff;
background: #003F70;
border-color: #003F70;
--bs-btn-active-bg: #003F70;
--bs-btn-active-border-color: #003F70;
}