.AlertContext-alert {
    margin: 0;
}

.AlertsWrapper-container {
    display: flex;
    position: absolute;
    height: 10%;
    width: 100%;
    margin-top: 2.5rem;
    flex-direction: column-reverse;
}

.modal-backdrop.show {
    opacity: 0;
}