.ListaDeSolicitudes-header {
    background-color: #003F70;
    /* height: 3.5rem; */
}

.ListaDeSolicitudes-body {
    background-color: #D9D9D9;
    padding: 1rem;
}

.page-item.active.color-blue, .page-item.color-blue {
    --bs-pagination-color: #003F70;
    --bs-pagination-hover-color: #003F70;
    --bs-pagination-focus-color: #003F70;
    --bs-pagination-active-bg: #003F70;
    --bs-pagination-active-border-color: #003F70
}

.ListaDeSolicitudes-header-button-cargar {
    color: #ffffff;
    background-color: #D51809;
    border-radius: 0%;
    border-color: #D51809;
    width: 58px;
    height: 100%;
  }
  
  .ListaDeSolicitudes-header-button-cargar:hover,
  .ListaDeSolicitudes-header-button-cargar:active,
  .ListaDeSolicitudes-header-button-cargar:focus,
  .ListaDeSolicitudes-header-button-cargar:disabled,
  .ListaDeSolicitudes-header-button-cargar.active {
    color: #ffffff;
    background: #D51809;
    border-color: #D51809;
    --bs-btn-active-bg: #D51809;
    --bs-btn-active-border-color: #D51809;
  }
